@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GM';
    src: local('GM'), url(./assets/fonts/Gotham-Medium.otf) format('truetype');
}

@font-face {
    font-family: 'GB';
    src: local('GB'), url(./assets/fonts/Gotham-Bold.otf) format('truetype');
}

@font-face {
    font-family: 'NSB';
    src: local('NSB'), url(./assets/fonts/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'NR';
    src: local('NR'), url(./assets/fonts/Nunito-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NB';
    src: local('NB'), url(./assets/fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'GILL';
    src: local('GILL'), url(./assets/fonts/Gilroy-Light.otf) format('truetype');
}

.welcome-header {
    background-image: url("./assets/svg/header-4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.bottom-banner {
    background-image: url("./assets/svg/ovalmask.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 67px;
    gap: 5px
}
.event-banner {
    background-image: url("./assets/images/clock.png");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 5px;
    min-height: 281px;
    border-radius: 20px;
}
.label-pie{
    font-family: NB;
}

.label-pie tspan{
    color: #ffffff !important;
    fill: #ffffff !important;
}